.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 1; /* ทำให้คอนเทนเนอร์แสดงผล */
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: 10%; /* ปรับให้ภาพอยู่ตรงกลางแนวตั้ง */
    right: 20%; /* ปรับให้ภาพอยู่ตรงกลางแนวนอน */
    transform: translate(50%, -50%) rotateZ(0%) !important; /* ใช้ translate เพื่อจัดตำแหน่ง */
    width: 100%; /* ใช้ขนาดสูงสุดที่คอนเทนเนอร์อนุญาต */
    opacity: 1; /* ทำให้ภาพแสดงผล */
    z-index: 1; /* ให้ภาพอยู่เหนือ SVG */
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
  z-index: 0; /* ให้อยู่ข้างหลังภาพ */
}

.logo-image {
  width: 300px;
  height: auto;
  margin-left: 900px;
}
